{erl_opts, [debug_info]}.

{deps, [
    {lfe, "2.1.5"},
    {lhttpc, "1.5.3"},  % HTTP client for testing web endpoints
    {uuid, "2.0.7", {pkg, uuid_erl}}  % For checkpoint IDs
]}.

{plugins, [
    {rebar3_lfe, "0.4.9"}
]}.

{provider_hooks, [
    {pre, [{compile, {lfe, compile}}]}
]}.

{profiles, [
    {test, [
        {deps, [
            {proper, "1.4.0"}
        ]},
        {eunit_opts, [verbose]}
    ]}
]}.

{project_plugins, [
    {rebar3_lfe, "0.4.9"}
]}.

{lfe, [
    {main, "sbf"},
    {app, "safe_brute_force"}
]}.

{relx, [
    {release, {safe_brute_force, "0.1.0"},
     [safe_brute_force,
      sasl]},

    {mode, dev},

    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},

    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, true}
]}.
